#auth_view {
  position: fixed;
  top: 5px;
  right: 5px;
  background: white;
  border-radius: 2px;
  padding: 0 0 0 5px;
  z-index: 1;
}

#id_username,
#id_password,
#id_first_name,
#id_last_name,
#id_email {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

#id_password1,
#id_password2 {
  width: 80%;
  height: 30px;
  border-radius: 5px;
}

#form_column {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------------------   MEDIA QUERIES ------------------ */
@media screen and (max-width: 768px) {
  #id_password1,
  #id_password2 {
    width: 100%;
  }
  #password_help {
    font-size: .75em;
  }
}
