<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if url == '/create/' %}
        Dummy Corp - Create New Employee
        {% else %}
        Dummy Corp - Update Employee
        {% endif %}

    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Dummy Corp Employee Directory
                </h1>
                <h2 class="subtitle">
                    {% if url == '/create/' %}
                    Create Employee
                    {% elif 'update' in url %}
                    Update Employee
                    {% elif url == '/employees/'%}
                    All Employees
                    {% endif %}
                </h2>
            </div>
        </div>
    </section>
    <div style="background-color: rgba(0, 0, 0, 0.2); height: 70%;">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <p class="has-text-centered"><strong>
                                {% if url == '/create/' %}
                                Add New Employee
                                {% elif 'update' in url %}
                                Update Employee Information
                                {% elif url == '/employees/'%}
                                Complete Employee Directory
                                <br>
                                <br>
                                <a href="{% url 'index' %}" class="button is-info">Return</a>
                                {% endif %}
                            </strong></p>
                        {% if messages %}
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        {% if form %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control is-expanded">
                                    {{ form }}
                                </div>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Submit
                                </button>
                                <a href="{% url 'index' %}" class="button is-light">
                                    Cancel
                                </a>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% if 'update' in url %}
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ employeeInfo.name }}</span>
                                            <br>
                                            <span class="subtitle">ID: {{ employeeInfo.id }}</span>
                                            <br>
                                            <span class="subtitle">{{ employeeInfo.age }} years old</span>
                                            <br> Salary: ${{ employeeInfo.salary }}
                                        </p>
                                        {% if employeeInfo.name %}
                                        <!--<a href="{% url 'delete' id=employeeInfo.id %}" style="color: red;"> Delete</a> --->
                                        <p><a href="{% url 'delete' id=employeeInfo.id %}" class="button is-danger is-outlined">
                                                <span>Delete</span>
                                                <span class="icon is-small">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                            </a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% if url == '/employees/' %}
        <div style="padding: 15px; width: 100%">
            <table class="table" style="table-layout: fixed; width: 100%; word-wrap: break-word;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.employee_name }}</td>
                        <td>{{ result.employee_age }}</td>
                        <td>{{ result.employee_salary }}</td>
                        <td><a href="{% url 'update' id=result.id %}"><span class="icon is-small"><i class="far fa-edit"></i></span></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
                <a href="#top" class="button is-info">Back to Top</a>
            </p>
        </div>
        {% endif %}
        <footer class="footer">
            <div class=" content has-text-centered">
                <p class="has-text-centered">
                    <strong>DummyAPI App</strong> by <a href="https://github.com/BrickBeard">Brandon Smith <img src="{% static 'employees/brick.ico' %}"
                            alt="BrickBeard"></a>. The source code can be found on
                    <a href="https://github.com/BrickBeard/dummyAPI">Github <img width="16" src="{% static 'employees/github.png' %}"
                            alt="github"></a>.
                </p>
            </div>
        </footer>
</body>

</html>