<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if url == '/create/' %}
        Dummy Corp - Create New Employee
        {% else %}
        Dummy Corp - Update Employee
        {% endif %}

    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Dummy Corp Employee Directory
                </h1>
                <h2 class="subtitle">
                    {% if url == '/create/' %}
                    Create Employee
                    {% else %}
                    Update Employee
                    {% endif %}
                </h2>
            </div>
        </div>
    </section>
    <div style="background-color: rgba(0, 0, 0, 0.2); height: 70%;">

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <p class="has-text-centered"><strong>
                                {% if url == '/create/' %}
                                Add New Employee
                                {% else %}
                                Edit Employee
                                {% endif %}
                            </strong></p>
                        {% if messages %}
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control is-expanded">
                                    {{ form }}
                                </div>
                            </div>
                            {% if form %}
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Submit
                                </button>
                                <a href="{% url 'index' %}" class="button is-light">
                                    Cancel
                                </a>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ employeeInfo.name }}</span>
                                            <br>
                                            <span class="subtitle">ID: {{ employeeInfo.id }}</span>
                                            <br>
                                            <span class="subtitle">{{ employeeInfo.age }} years old</span>
                                            <br> Salary: ${{ employeeInfo.salary }}
                                        </p>
                                        {% if employeeInfo.name %}
                                        <a href="#">Edit Employee </a>
                                        <a href="#" style="color: red;"> Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% load static %}
    <footer class="footer">
        <div class=" content has-text-centered">
            <p>
                <strong>DummyAPI App</strong> by <a href="https://github.com/BrickBeard">Brandon Smith <img src="{% static 'employees/brick.ico' %}"
                        alt="BrickBeard"></a>. The source code can be found on
                <a href="https://github.com/BrickBeard/dummyAPI">Github <img width="16" src="{% static 'employees/github.png' %}"
                        alt="github"></a>.
            </p>
        </div>
    </footer>
</body>

</html>