{% extends 'employees/base.html' %}
{% block content %}
{% load humanize %}
{% load static %}
<div style="background-color: rgba(0, 0, 0, 0.2); height: 70%;">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-6 has-text-centered">
                    <p class="has-text-centered">
                        <strong>
                            {% if url == '/create/' %}
                            Add New Employee
                            {% elif 'update' in url %}
                            Update Employee Information
                            {% elif '/employees/' in url %}
                            Complete Employee Directory
                            <br>
                            <br>
                            <a href="{% url 'index' %}" class="button is-info">Return</a>

                            {% endif %}
                        </strong>
                    </p>
                    {% if '/employees/' in url %}
                    <br>
                    <p>
                        <a href="#bottom" class="button is-dark is-inverted">Jump to Bottom</a>
                    </p>
                    {% endif %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    <br>
                    {% if url == '/create/' %}
                    <br>
                    <a href="{% url 'index' %}" class="button is-info">
                        Return
                    </a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% if form %}
                    <form method="POST">
                        {% csrf_token %}
                        {% if url == '/create/' %}
                        <div class="field">
                            <div class="control is-expanded">
                                {{ form }}
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Submit
                            </button>
                            <a href="{% url 'index' %}" class="button is-light">
                                Cancel
                            </a>
                        </div>
                        {% elif 'update' in url %}
                        <div class="field">
                            <div class="control is-expanded">
                                {{ form }}
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control {% if messages %}is-expanded{% endif %}">
                                <button type="submit" class="button is-info">
                                    Submit
                                </button>
                                <a href="{% url 'index' %}" class="button is-light">
                                    Cancel
                                </a>
                            </div>
                            <div class="control">
                                {% if messages %}
                                <a href="{% url 'index' %}" class="button is-info">
                                    Return
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% elif url == '/' %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            {% if user.is_authenticated %}
                            <div class="control is-expanded">
                                <a href="{% url 'create' %}" class="button is-info">
                                    Create New Employee
                                </a>
                            </div>
                            {% endif %}
                            <div class="control">
                                <a href="{% url 'all' %}" class="button is-light">
                                    All Employees
                                </a>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if url == '/' %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if results %}
                    {% if results|length > 1 %}
                    {% else %}
                    <p class="has-text-centered">
                        <strong>First Employee in Directory:</strong>
                    </p><br>
                    {% endif %}
                    {% endif %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image">
                                    <img src="{{ employeeInfo.image }}" alt="Profile Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ employeeInfo.name }}</span>
                                        <br>
                                        <span class="subtitle">ID: <strong>{{ employeeInfo.id }}</strong></span>
                                        <br>
                                        Age: <strong>{{ employeeInfo.age|intcomma }}</strong>
                                        years
                                        <br> Salary: <strong>${{ employeeInfo.salary|intcomma }}</strong>
                                    </p>
                                    {% if user.is_authenticated %}
                                    {% if employeeInfo.id %}
                                    <div class="has-text-right">
                                        <a href="{% url 'update' id=employeeInfo.id %}">Edit Employee </a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% if results %}
        {% if results|length > 1 %}
        <br>
        <br>
        <br>
        <div class="columns">
            <div class="column is-offset-1 is-10">
                <p class="has-text-centered"><strong>All employees matching search criteria:</strong></p><br>
                <table class="table" style="table-layout: fixed; width: 100%; word-wrap: break-word;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Wage</th>
                            {% if user.is_authenticated %}
                            <th>Edit</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result.id }}</td>
                            <td><strong>{{ result.employee_name }}</strong></td>
                            <td>{{ result.employee_age|intcomma }}</td>
                            <td>${{ result.employee_salary|intcomma }}</td>
                            {% if user.is_authenticated %}
                            <td><a href="{% url 'update' id=result.id %}"><i class="far fa-edit"></i></a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p>
                    <a href="#top" class="button is-info">Back to Top</a>
                </p>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </section>
    {% elif 'update' in url %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image">
                                    <img src="{{ employeeInfo.image }}" alt="Profile Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ employeeInfo.name }}</span>
                                        <br>
                                        <span class="subtitle">ID: {{ employeeInfo.id }}</span>
                                        <br>
                                        <span class="subtitle">{{ employeeInfo.age|intcomma }} years old</span>
                                        <br> Salary: ${{ employeeInfo.salary|intcomma }}
                                    </p>
                                    {% if employeeInfo.name %}
                                    <div class="has-text-right">
                                        <a href="{% url 'delete' id=employeeInfo.id %}" style="color: #ff3860;"> Delete</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% elif '/employees/' in url %}
    <div style="padding: 15px; width: 100%">
        <table class="table is-hoverable" style="table-layout: fixed; width: 100%; word-wrap: break-word;">
            <thead>
                <tr>
                    <th><a href="{% url 'all' %}" style="text-decoration: none;">Id</a></th>
                    <th><a href="{% url 'filtered' filter_by='name' %}" style="text-decoration: none;">Name</a></th>
                    <th><a href="{% url 'filtered' filter_by='age' %}" style="text-decoration: none;">Age</a></th>
                    <th><a href="{% url 'filtered' filter_by='salary' %}" style="text-decoration: none;">Wage</a></th>
                    {% if user.is_authenticated %}
                    <th>Edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.id }}</td>
                    <td>{{ result.employee_name }}</td>
                    <td>{{ result.employee_age|intcomma }}</td>
                    <td>${{ result.employee_salary|intcomma }}</td>
                    {% if user.is_authenticated %}
                    <td><a href="{% url 'update' id=result.id %}"><span class="icon is-small"><i class="far fa-edit"></i></span></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="columns">
            <div class="column has-text-centered">
                <a href="#top" id="bottom" class="button is-dark is-inverted">Back to Top</a>
            </div>
        </div>

    </div>
    {% endif %}
</div>
{% endblock %}