<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dummy Corp - Employees</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body style="background-color: rgba(0, 0, 0, 0.2); ">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Dummy Corp Employee Directory
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control is-expanded">
                                {{ form }}
                            </div>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Search for Employee
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ employeeInfo.name }}</span>
                                        <br>
                                        <span class="subtitle">ID: {{ employeeInfo.id }}</span>
                                        <br>
                                        <span class="subtitle">{{ employeeInfo.age }} years old</span>
                                        <br> Salary: ${{ employeeInfo.salary }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>