{% extends "employees/base.html" %}

{% block title %}
<title>Dummy Corp - Register</title>
{% endblock %}

{% block auth_view %}
{% endblock %}

{% block content %}
<div style="background-color: rgba(0, 0, 0, 0.2); height: 70%;">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-6 has-text-centered" id="form_column">
                    <form method="POST" action="{% url 'register' %}" class="auth_form">
                        {% csrf_token %}

                        {% if form.errors %}
                        <p>There were errors found in this form. </p>
                        {% endif %}
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-text-centered">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control has-text-centered">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control has-text-centered">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-text-centered">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-text-centered">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password Confirmation</label>
                            <div class="control has-text-centered">
                                {{ form.password2 }}
                            </div>
                        </div>
                        <br>
                        <div class="buttons is-centered">
                            <input type="submit" value="Register" class="button is-info">
                            <a href="{% url 'index' %}" class="button is-light is-out">Cancel</a>
                        </div>
                        {{ form.password1.help_text }}
                    </form>
                    <br>
                    <p>Already Registered? <a href="{% url 'login' %}">Log In</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}